@font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato Light';
    src: url('Lato-Light.ttf');
}

body {
    margin: auto;
    max-width: 40%;
    font-family: 'Lato', sans-serif;
}

@media only screen and (max-width:1000px) {
    body {
        max-width: 60%;
    }
}

@media only screen and (max-width:600px), (orientation: portrait) {
    body {
        max-width: 80%;
    }

    #titleBox {
        text-align:center;
    }
}

hr {
    border: 2px solid black;
}

a {
    font-family: 'Lato Light', sans-serif;
    text-decoration: none;
}
