body {
    margin: auto;
    max-width: 40%;
    font-family: 'Lato', sans-serif;
}

@media only screen and (max-width:1000px) {
    body {
        max-width: 60%;
    }
}

@media only screen and (max-width:600px) {
    body {
        max-width: 80%;
    }

    #titleBox {
        text-align:center;
    }
}

h1 {
    font-family: 'Lato Black', sans-serif;
}

hr {
    border: 2px solid black;
}

a {
    font-family: 'Lato Light';
    text-decoration: none;
}
